<%= form_for @product, :html => { :class => "form-horizontal product" } do |f| %>

  <% if @product.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @product.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label t(:code), :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :code, :class => 'form-control' %>
    </div>
    <%=f.error_span(:code) %>
  </div>
  <div class="form-group">
    <%= f.label t(:maker), :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :maker, :class => 'form-control' %>
    </div>
    <%=f.error_span(:maker) %>
  </div>
  <div class="form-group">
    <%= f.label t(:name), :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
    <%=f.error_span(:name) %>
  </div>
  <div class="form-group">
    <%= f.label t(:size), :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :size, :class => 'form-control' %>
    </div>
    <%=f.error_span(:size) %>
  </div>
  <div class="form-group">
    <%= f.label t(:price), :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :price, :class => 'form-control' %>
    </div>
    <%=f.error_span(:price) %>
  </div>
  <div class="form-group">
    <%= f.label t(:cost), :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :cost, :class => 'form-control' %>
    </div>
    <%=f.error_span(:cost) %>
  </div>
  <div class="form-group">
  <%= f.label t(:picture), class: 'control-label col-lg-2' %>
    <div class='col-lg-10'>
      <%= image_tag(@product.picture_path, class: 'img-responsive') %>
      <%= f.file_field :picture %>
    </div>
    <%= f.error_span(:picture) %>
  </div>
  <div class="form-group">
    <%= f.label t(:copy), :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :copy, :class => 'form-control' %>
    </div>
    <%=f.error_span(:copy) %>
  </div>
  <div class="form-group">
    <%= f.label t(:memo), :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :memo, :class => 'form-control' %>
    </div>
    <%=f.error_span(:memo) %>
  </div>
  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <p class="text-muted">
        <%= (@product.user.name + " " + @product.updated_at.to_s) if @product.id != nil %>
      </p>
      <h4>注意事項</h4>
      <ul>
        <li>仕入れ値と製造者は空欄でも大丈夫です。</li>
        <li>価格はDCを入れます。</li>
      </ul>
    </div>
  </div>
  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                products_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
