<%- model_class = Product -%>
<script>
  $.ajaxSetup({
    headers: {
      'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')
    }
  });

  function btn_clicked(id,b){
    $(b).addClass('disabled');
    setTimeout(reset_btn, 5000, id,b);
    $.post("/orders.json",{order: {product_id: id, amount: 1}})
      .done(function(d){
        $("div#product-"+id).show();
      })
      .fail(function(d){
        alert("Can not process the order.");
      });
  }

  function reset_btn(id,b){
    $(b).removeClass('disabled');
    $("div#product-"+id).fadeOut();
  }
</script>
<div class="page-header">
  <form method="get" action="<%= products_path %>" class="form-inline search">
    <%= text_field_tag :search, @keyword, class: 'form-control', placeholder: "name,code or tag:name" %>
    <%= submit_tag 'Search', class: 'btn btn-primary' %>
    <%= link_to 'Back', pages_dashboard_path, class: 'btn btn-default' %>
  </form>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:picture) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:price) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= link_to image_tag(product.picture_path, style: "max-height: 64px"), product_path(product) %></td>
        <td>
          <%= link_to product.name+" "+product.size, product_path(product) %> <small class="text-muted"><%= product.code %></small><br/>
          <%= product.copy %>
          <div id="product-<%= product.id %>" class="alert alert-success" role="alert" style="display: none; margin-top: 6px;"><%= link_to "カート", {:controller => :orders} %> に追加しました。</div>
        </td>
        <td><%= product.price %></td>
        <td>
          <%= link_to "Add to cart", "javascript:void(0)", class: "btn btn-success btn-xs", onclick: "btn_clicked(#{product.id},this)" %>
          <% if current_user.admin? %>
          <p class="admin">
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_product_path(product), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      product_path(product),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
          </p>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<% if current_user.admin? %>
<p class="admin">
<%= link_to t('.new', :default => t("helpers.links.new")),
            new_product_path,
            :class => 'btn btn-primary' %>
</p>
<% end %>
