<%- model_class = Product -%>
<script>
  $.ajaxSetup({
    headers: {
      'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')
    }
  });

  function btn_clicked(id,pr,b){
    $(b).addClass('disabled');
    setTimeout(reset_btn, 5000, id,b);
    $.post("/orders.json",{order: {product_id: id, quantity: 1, price: pr}})
      .done(function(d){
        $("div#product-"+id).show();
        $("#n-in-cart").load("/orders/n-in-cart");
      })
      .fail(function(d){
        alert("Can not process the order.");
      });
  }

  function reset_btn(id,b){
    $(b).removeClass('disabled');
    $("div#product-"+id).fadeOut();
  }

  function clear_search_field(){
    $("#search").val("");
  }
</script>

<div class="page-header">
  <form method="get" action="<%= products_path %>" class="form-inline search">
    <%= text_field_tag :search, @keyword, class: 'form-control', placeholder: t("name,code or tag:name")%>
    <%= button_tag "<span class='fa fa-search'></span> ".html_safe+t('Search'), class: 'btn btn-primary' %>
    <%= link_to "<span class='fa fa-eraser'></span> ".html_safe+t('Clear'), "javascript:void(0)",class: 'btn btn-default', type: "reset", onclick: "clear_search_field()" %>
    <%= link_to "<span class='fa fa-home'></span> ".html_safe+t('Back'), pages_dashboard_path, class: 'btn btn-default' %>
  </form>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(t(:picture)) %></th>
      <th><%= model_class.human_attribute_name(t(:name)) %></th>
      <th><%= model_class.human_attribute_name(t(:price)) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= link_to image_tag(product.picture_path, style: "max-height: 64px"), product_path(product) %></td>
        <td>
          <%= link_to product.name+" "+product.size, product_path(product) %> <small class="text-muted"><%= product.code %></small><br/>
          <%= product.copy %>
          <div id="product-<%= product.id %>" class="alert alert-success" role="alert" style="display: none; margin-top: 6px;"><%= link_to "カート", {:controller => :orders} %> に追加しました。</div>
        </td>
        <td><%= product.price %></td>
        <td>
          <%= link_to t("Add to cart"), "javascript:void(0)", class: "btn btn-success btn-xs", onclick: "btn_clicked(#{product.id},#{product.price},this)" %>
          <% if current_user.admin? %>
          <p class="admin">
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_product_path(product), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      product_path(product),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
          </p>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<% if @products.count > 0 %>
  <%= paginate @products %>
<% end %>
<% if current_user.admin? %>
  <p class="admin">
    <%= link_to t('.new', :default => t("helpers.links.new")),
                new_product_path,
                :class => 'btn btn-primary' %>
    <% ps = params.permit(:search); ps[:print] = "on" %>
    <%= link_to "発注表", products_path(ps), class: 'btn btn-default', target: "index4printing" %>
  </p>
<% end %>
