<%- model_class = Product -%>
<script>
  $.ajaxSetup({
    headers: {
      'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')
    }
  });

  function btn_clicked(id,b){
    $(b).addClass('disabled');
    setTimeout(reset_btn, 5000, id,b);
    var quantity = $("#quantity").val();
    $.post("/orders.json", {order: {product_id: id, quantity: quantity}})
      .done(function(d){
        $("div#product-"+id).show();
      })
      .fail(function(d){
        alert("Can not process the order.");
      });
  }

  function reset_btn(id,b){
    $(b).removeClass('disabled');
    $("div#product-"+id).fadeOut();
  }
</script>

<div class="page-header">
  <h1><%= @product.name + " " + @product.size %></h1>
</div>
<div class="row">
  <div class="col-sm-6">
    <%= image_tag(@product.picture_path, class: "img-responsive") %>
  </div>
  <div class="col-sm-6">
    <p><%= @product.copy %></p>
    <table class="table">
      <tr>
      <th><%= model_class.human_attribute_name(t(:code)) %>:</th>
      <td><%= @product.code %></td>
      </tr><tr>
      <th><%= model_class.human_attribute_name(t(:price)) %>:</th>
      <td><%= @product.price %></td>
      </tr>
    </table>
    <form class="form-inline">
      <input type="number" value="1" id="quantity" name="quantity" class="form-control"/>
      <%= link_to "<span class='fa fa-plus'></span> ".html_safe + t("Add to cart"), "javascript:void(0)", class: "btn btn-success", onclick: "btn_clicked(#{@product.id}, this)" %>
      <%= link_to t('.back', :default => t("helpers.links.back")),
                  products_path, :class => 'btn btn-default'  %>
    </form>
  </div>
</div>

<p class="admin">
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_product_path(@product), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              product_path(@product),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</p>
<div id="product-<%= @product.id %>" class="alert alert-success" role="alert" style="display: none; margin-top: 6px;"><%= link_to "カート", {:controller => :orders} %> に追加しました。</div>
