
<h1><%= t("Tags") %></h1>

<table class="table">
  <thead>
    <tr>
      <th><%= t("Code") %></th>
      <th><%= t("Name") %></th>
      <th style="width: 120px"><%= t("Picture") %></th>
      <th><%= t("Copy") %></th>
      <th><%= t("Memo") %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tags.each do |tag| %>
      <tr>
        <td><%= tag.code %></td>
        <td><%= tag.name %></td>
        <td><%= image_tag(tag.picture_path, class: "img-responsive") %></td>
        <td><%= tag.copy %></td>
        <td><%= tag.memo %></td>
        <td><%= link_to 'Show', tag, class: "btn btn-xs btn-default" %></td>
        <td><%= link_to 'Edit', edit_tag_path(tag), class: "btn btn-xs btn-default" %></td>
        <td><%= link_to 'Destroy', tag, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-xs btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('New Tag'), new_tag_path, class: "btn btn-primary" %>
