<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @tag.code %>
</p>

<p>
  <strong>Name:</strong>
  <%= @tag.name %>
</p>

<p>
  <strong>Copy:</strong>
  <%= @tag.copy %>
</p>

<p>
  <strong>Memo:</strong>
  <%= @tag.memo %>
</p>

<%= link_to 'Edit', edit_tag_path(@tag) %> |
<%= link_to 'Back', tags_path %>
