<%- model_class = Order -%>
<div class="page-header">
  <h1><span class="fa fa-credit-card"></span><%= t("Checkout") %></h1>
</div>
<p><%= t("order_sent") %></p>
<div class="well">
  <p>注文日時: <%= l @checkout_at %>, 点数: <%= @n_items %>, 合計金額: <%= @total %></p>
  <p>ディストリビュータからのメッセージ:<br/><%= current_user.parent&.message4payment %></p>
</div>
<p><%= link_to t("back"), pages_dashboard_path, class: "btn btn-default" %></p>
