<%- model_class = Order -%>
<div class="page-header">
  <h1><span class="fa fa-credit-card"></span><%= t("Checkout") %></h1>
</div>
<p><%= t("order_sent") %></p>
<div class="well">
  <p>注文日時: <%= l @checkout_at %>, 点数: <%= @n_items %>, 合計金額: <%= @total %></p>
  <p>ディストリビュータからのメッセージ:<br/><%= sanitize_message(current_user.parent&.message4payment) %></p>

</div>
<% if @paypalme_url %>
  <p>以下のリンクからPayPal経由でお支払い頂くことも可能です。
    このシステムでは送料を加算していませんので、支払い後すぐに商品が届く訳ではありません。
  ディストリビュータとの商品受け渡し手順が確定している場合のみ、ご利用ください。
  Paypalの利用手数料(3.6% + 40円)が加算されています。</p>
  <p><%= link_to @paypalme_url, @paypalme_url, target: "_blank" %> </p>
<% end %>
<% if params[:stripeToken] %>
  <p>Stripeで決済処理を開始致しました。</p>
  <%# エラー処理が未実装なので、ちょっとぼかした文言にしています %>
<% end %>

<p><%= link_to t("back"), pages_dashboard_path, class: "btn btn-default" %></p>
