<%- model_class = Order -%>
<div class="page-header">
  <h1><span class="fa fa-shopping-cart"></span> <%= t(@title) %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= t("datetime") %></th>
      <th><%= t("user_id") if @title == "history_of_children"  %></th>
      <th><%= t("status") %></th>
      <th><%= t("quantity") %></th>
      <th><%= t("price") %></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% if @orders.length == 0 %>
      <tr>
        <td colspan="5"><%= t("No orders") %></td>
      </tr>
    <% else
         total = 0
         @orders.each do |order| %>
      <tr>
        <td><%= l(order.checkout_at) %></td>
        <td><%= order.user.name if @title == "history_of_children" %></td>
        <td><%= t(order.status) %></td>
        <td><%= order.quantity %></td>
        <td><%= order.price %></td>
        <% if @title == "history_of_children" %>
          <td><%= link_to t("detail"), orders_path(checkout_at: order.checkout_at,user_id: order.user.id), class: "btn btn-default btn-sm" %></td>
        <% else %>
          <td><%= link_to t("detail"), orders_path(checkout_at: order.checkout_at), class: "btn btn-default btn-sm" %></td>
        <% end %>
      </tr>
      <% end
       end %>
  </tbody>
</table>
<% if @title == "history_of_children" %>
<p><%= link_to '自分自身の注文履歴', orders_history_path, class: "btn btn-default" %></p>
<% elsif current_user.children.count > 0 %>
<p><%= link_to 'フロントの注文履歴', orders_history_path(children: true), class: "btn btn-default" %></p>
<% end %>
