<%- model_class = Order -%>
<script>
$.ajaxSetup({
  headers: {
    'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')
  }
});

function update_order_status(status){
  $("#total").fadeOut();
  $("input[name=orders]:checked").each(function(){
      var order_id = $(this).val();
      if(!order_id) return;
      var tr = $("#row-"+order_id);
      $(tr).fadeOut();
      $.ajax({url:"/orders/"+order_id+".json",type: "patch",
        data: {"order[id]": order_id, "order[status]": status}})
        .done(function(d){
          console.log(d);
          var sum = 0;
          $(tr).remove();
          $(".subtotal").each(function(){
            sum += Number($(this).text());
          });
          $("#total").text(sum).fadeIn();
        })
        .fail(function(d){
          alert("<%= "Can not change status of order." %>");
        });
  });
}

function update_group_by_product(){
  $("#group_by_product_form").submit();
}

$(function(){
  $("#group_by_product").on('change',update_group_by_product);
});
</script>
<div class="page-header">
  <h1><span class="fa fa-list"></span> <%= t(@title) %></h1>
</div>
<form action="of-children" method="get" id="group_by_product_form">
  <%= check_box_tag :group_by_product, "true", params[:group_by_product].present?  %>
  <%= hidden_field_tag :status, params[:status] %>
  <label for="group_by_product">商品ごとにグルーピングする</label>
</form>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= t("User Name") %></th>
      <th><%= t("Updated date") %></th>
      <th><%= t("Picture") %></th>
      <th><%= t("Name") %></th>
      <th><%= t("Price") %></th>
      <th><%= t("Quantity") %></th>
      <th><%= t("Subtotal") %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% n, total_price, total_quantity = 0, 0, 0 %>
    <% if @orders.nil? %>
      <tr>
        <td colspan="7"><%= t("Nothing to show here") %></td>
      </tr>
    <% elsif params[:group_by_product] %>
      <% @orders.each do |order| %>
        <tr id="row-<%= order.product_id %>">
          <td></td>
          <td></td>
          <td><%= link_to image_tag(order.product.picture_path, style: "max-height: 64px"), product_path(order.product) %></td>
          <td><%= order.product.name %> <small class="text-muted"><%= order.product.code %></small></td>
          <td><%= order.product.price %></td>
          <td><%= order.quantity %></td>
          <td class="subtotal"><%= order.product.price * order.quantity %></td>
          <td></td>
          <% n += 1 %>
          <% total_quantity += order.quantity %>
          <% total_price += order.product.price * order.quantity %>
        </tr>
      <% end %>
      <tr>
        <th colspan="3" style="text-aling: right"><%= t("Total") +":" %></th>
        <td colspan="2" class="text-muted"><%= 0 %>人, <%= n %>品目</td>
        <td><%= total_quantity %></td>
        <td colspan="2" id="total"><%= total_price %></td>
      </tr>
    <% else
        # List of orders
         @orders.each do |order| %>
      <tr id="row-<%= order.id %>">
        <td><%= order.user.name %></td>
        <td><%= order.updated_at %></td>
        <td><%= link_to image_tag(order.product.picture_path, style: "max-height: 64px"), product_path(order.product) %></td>
        <td><%= order.product.name %> <small class="text-muted"><%= order.product.code %></small></td>
        <td><%= order.product.price %></td>
        <td><%= order.quantity %></td>
        <td class="subtotal"><%= order.product.price * order.quantity %></td>
        <td><%= check_box_tag :orders, order.id %></td>
        <% total_price += order.product.price * order.quantity %>
      </tr>
      <% end %>
      <tr>
        <th colspan="6" style="text-aling: right"><%= t("Total") +":" %></th>
        <td colspan="2" id="total"><%= total_price %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<div id="message">

</div>
<% if params[:group_by_product].present? %>
  <p>グルーピングされたまま、「発注済み」「納品済み」に移行できません。解除してから入力してください。</p>
<% elsif @title == "orders_of_children" %>
  <p>
    あなたのフロントからの注文と、あなた自身の注文がリストアップされています。<br/>
    <a href="https://www.amwaylive.com/">Amwaylive</a>で発注した商品にチェックを入れてください。</p>
  <button class='btn btn-primary' onclick="update_order_status('shipping')"><%= t("mark_as_shipping") %></button>
<% elsif @title == "shipping_of_children" %>
  <p>お客様に手渡しした（または自分で受け取った）商品にチェックを入れてください。</p>
  <button class='btn btn-primary' onclick="update_order_status('arrived')"><%= t("mark_as_arrived") %></button>
<% end %>
