<%- model_class = Order -%>

TODO: 子どもの注文一覧
ここからamwayliveで実際の商品を発注する
手渡ししたらステータスを更新する

<div class="page-header">
  <% if @checkout_at %>
    <h1><span class="fa fa-shopping-cart"></span><%= t("Order") %></h1>
    <p><%= l(@checkout_at) %> <%= t(@orders.first.status) %>
      <%= link_to t("back"), orders_history_path, class: "btn btn-default btn-sm" %>
    </p>
  <% else %>
    <h1><span class="fa fa-shopping-cart"></span><%= "TODO" %></h1>
  <% end %>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= t("User Name") %></th>
      <th><%= t("Updated date") %></th>
      <th><%= t("Picture") %></th>
      <th><%= t("Name") %></th>
      <th><%= t("Price") %></th>
      <th><%= t("Quantity") %></th>
      <th><%= t("Subtotal") %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% if @orders.count == 0 %>
      <tr>
        <td colspan="7"><%= t("Nothing to show here") %></td>
      </tr>
    <% else
         total = 0
         @orders.each do |order| %>
      <tr>
        <td><%= order.user.name %></td>
        <td><%= order.updated_at %></td>
        <td><%= link_to image_tag(order.product.picture_path, style: "max-height: 64px"), product_path(order.product) %></td>
        <td><%= order.product.name %> <small class="text-muted"><%= order.product.code %></small></td>
        <td><%= order.product.price %></td>
        <td><%= order.quantity %></td>
        <td class="subtotal"><%= order.product.price * order.quantity %></td>
        <% total += order.product.price * order.quantity %>
      </tr>
      <% end
       end %>
    <tr>
      <th colspan="6" style="text-aling: right"><%= t("Total") +":" %></td>
      <td colspan="1" id="total"><%= total %></td>
    </tr>
  </tbody>
</table>
