<%- model_class = Order -%>
<script>
$.ajaxSetup({
  headers: {
    'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')
  }
});

function update_order_status(status){
  $("#total").fadeOut();
  $("input[name=orders]:checked").each(function(){
      var order_id = $(this).val();
      if(!order_id) return;
      var tr = $("#row-"+order_id);
      $(tr).fadeOut();
      $.ajax({url:"/orders/"+order_id+".json",type: "patch",
        data: {"order[id]": order_id, "order[status]": status}})
        .done(function(d){
          console.log(d);
          var sum = 0;
          $(tr).remove();
          $(".subtotal").each(function(){
            sum += Number($(this).text());
          });
          $("#total").text(sum).fadeIn();
        })
        .fail(function(d){
          alert("<%= "Can not change status of order." %>");
        });
  });
}

</script>
<div class="page-header">
  <h1><span class="fa fa-list"></span> <%= t(@title) %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= t("User Name") %></th>
      <th><%= t("Updated date") %></th>
      <th><%= t("Picture") %></th>
      <th><%= t("Name") %></th>
      <th><%= t("Price") %></th>
      <th><%= t("Quantity") %></th>
      <th><%= t("Subtotal") %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% if @orders.count == 0 %>
      <tr>
        <td colspan="7"><%= t("Nothing to show here") %></td>
      </tr>
    <% else
         total = 0
         @orders.each do |order| %>
      <tr id="row-<%= order.id %>">
        <td><%= order.user.name %></td>
        <td><%= order.updated_at %></td>
        <td><%= link_to image_tag(order.product.picture_path, style: "max-height: 64px"), product_path(order.product) %></td>
        <td><%= order.product.name %> <small class="text-muted"><%= order.product.code %></small></td>
        <td><%= order.product.price %></td>
        <td><%= order.quantity %></td>
        <td class="subtotal"><%= order.product.price * order.quantity %></td>
        <td><%= check_box_tag :orders, order.id %></td>
        <% total += order.product.price * order.quantity %>
      </tr>
      <% end
       end %>
    <tr>
      <th colspan="6" style="text-aling: right"><%= t("Total") +":" %></td>
      <td colspan="2" id="total"><%= total %></td>
    </tr>
  </tbody>
</table>
<div id="message">

</div>
<% if @title == "orders_of_children" %>
  <p>
    あなたのフロントからの注文と、あなた自身の注文がリストアップされています。<br/>
    <a href="https://www.amwaylive.com/">Amwaylive</a>で発注した商品にチェックを入れてください。</p>
  <button class='btn btn-primary' onclick="update_order_status('shipping')"><%= t("mark_as_shipping") %></button>
<% elsif @title == "shipping_of_children" %>
  <p>お客様に手渡しした（または自分で受け取った）商品にチェックを入れてください。</p>
  <button class='btn btn-primary' onclick="update_order_status('arrived')"><%= t("mark_as_arrived") %></button>
<% end %>
