<%= form_for @message, :html => { :class => "form-horizontal message" } do |f| %>

  <% if @message.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@message.errors.count, "error") %> prohibited this message from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @message.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>
  <%= f.hidden_field :sender_id %>
  <%= f.hidden_field :receiver_id %>
  <%= f.hidden_field :type %>
  <%= f.hidden_field :opened %>
  <p>宛先: <%= User.find(@message.receiver_id).name %></p>
  <div class="form-group">
    <div class="col-lg-10">
      <%= f.text_area :body, :class => 'form-control' %>
    </div>
    <div class="col-lg-2">
      <%= f.submit "送信", :class => 'btn btn-primary' %>
    </div>
    <%=f.error_span(:body) %>
  </div>
  <div class="form-group">
  </div>

<% end %>
