<%- model_class = Message -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>

<%= render :partial => 'form' %>

<% @messages.each do |message| %>
  <div class="row">
    <% cls = message.sender_id == current_user.id ? "col-xs-offset-2 col-xs-10" : "col-xs-10"%>
    <% fg = message.sender_id == current_user.id ? "white" : "black"%>
    <% bg = message.sender_id == current_user.id ? "white" : "rgb(227, 227, 227)"%>
    <div class="<%= cls %>">
      <div class="panel panel-default">
        <div class="panel-body" style="background-color: <%= bg %>">
          <%= message.body %>
        </div>
      </div>
    </div>
  </div>
<% end %>
