<div class="row">
  <div class="col-xs-12">
    <p><%= t("hello") %> <b><%= current_user.name %></b>!
      <%= link_to t("edit_user"), edit_user_registration_path, class: "btn btn-xs btn-default" %>
    </p>
  </div>
</div>
<div class="row" style="padding: 24px 0">
  <div class="col-xs-12">
    <form method="get" action="<%= products_path %>" class="form-inline search">
      <%= text_field_tag :search, params[:search], class: 'form-control', placeholder: t("name,code or tag:name")%>
      <%= submit_tag t('search'), class: 'btn btn-primary' %>
    </form>
  </div>
</div>
<h3><%= t("category") %></h3>
<div class="row">
  <% @tags.each do |tag| %>
    <div class="col-sm-4 col-md-2">
      <figure>
        <%= link_to image_tag(tag.picture_path, class: "img-thumbnail"), products_path(search: "tag:"+tag.code) %>
        <figcaption><%= tag.name %></figcaption>
      </figure>
    </div>
  <% end %>
</div>
<h3><%= t("recent") %></h3>
<div class="row" style="padding: 24px 0">
  <% @recents.each do |product| %>
    <div class="col-sm-3">
      <figure>
        <%= link_to image_tag(product.picture_path, class: "img-thumbnail img-responsive"), product_path(product) %>
        <figcaption><%= product.name %></figcaption>
      </figure>
    </div>
  <% end %>
</div>
<div class="row" style="padding: 24px 0">
  <div class="col-sm-12">
    <%= link_to t("order_history"), orders_history_path, class: "btn btn-default" %>
  </div>
</div>
<% if current_user.distributor? %>
  <h3><%= t("for_distributor") %></h3>
  <div class="row" style="padding: 24px 0">
    <div class="col-sm-12">
      <%= link_to (t("orders_of_children") + " <span class='badge' id='orders_of_children'>-</span>").html_safe, orders_of_children_path(status: 'ordered'), class: "btn btn-default" %>
      <%= link_to (t("shipping_of_children") + " <span class='badge' id='shipping_of_children'>-</span>").html_safe, orders_of_children_path(status: 'shipping'), class: "btn btn-default" %>
      <%= link_to (t("history_of_children") + " <span class='badge' id='history_of_children'>-</span>").html_safe, orders_of_children_path(status: 'history'), class: "btn btn-default" %>
      TODO: for distributor
    </div>
  </div>
<% end %>
<% if current_user.admin? %>
  <div class="row">
    <div class="col-xs-12 admin">
        <%= link_to t("Users"), pages_users_path %>
        <%= link_to t("Products"), products_path(search: "") %>
        <%= link_to "GitHub", "https://github.com/lumbermill/base.lmlab.net", target: "_blank" %>
    </div>
  </div>
<% end %>
