<div class="row">
  <div class="col-xs-12">
    <p>Hello, <b><%= current_user.name %></b>!
      <%= link_to "Edit user info", edit_user_registration_path, class: "btn btn-xs btn-default" %>
    </p>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <form method="get" action="<%= products_path %>" class="form-inline search">
      <%= text_field_tag :search, "", class: 'form-control', placeholder: "name or code" %>
      <%= submit_tag :search, class: 'btn btn-primary' %>
    </form>
  </div>
</div>
<div class="row">
  <div class="col-sm-4">
    category?
  </div>
</div>

<div class="row">
  <div class="col-sm-4">
    order history?
  </div>
</div>

<% if current_user.admin? %>
  <div class="row">
    <div class="col-xs-12 admin">
        <%= link_to "Users", pages_users_path %>
        <%= link_to "Products", products_path %>
        <%= link_to "GitHub", "https://github.com/lumbermill/base.lmlab.net", target: "_blank" %>
    </div>
  </div>
<% end %>
