<div class="row">
  <div class="col-xs-12">
    <p><%= t("hello") %> <b><%= current_user.name %></b>!
      <%= link_to ("<span class='fa fa-user'></span> "+t("edit_user")).html_safe, edit_user_registration_path, class: "btn btn-xs btn-default" %>
    </p>
    <p>下記の検索フィールドにお探しの商品名か商品コードを入力してください。</p>
  </div>
</div>
<div class="row" style="padding: 60px 0;">
  <div class="col-xs-12">
    <form method="get" action="<%= products_path %>" class="form-inline search">
      <%= text_field_tag :search, params[:search], class: 'form-control', placeholder: t("name,code or tag:name"), size: 60 %>
      <%= button_tag ('<span class="fa fa-search"></span> '.+t('search')).html_safe, class: 'btn btn-primary ' %>
    </form>
  </div>
</div>
<h3><%= t("category") %></h3>
<div class="row">
  <% @tags.each do |tag| %>
    <div class="col-sm-4 col-md-2">
      <figure>
        <%= link_to image_tag(tag.picture_path, class: "img-thumbnail"), products_path(search: "tag:"+tag.code) %>
        <figcaption><%= tag.name %></figcaption>
      </figure>
    </div>
  <% end %>
</div>
<h3><%= t("recent_view") %></h3>
<div class="row" style="padding: 24px 0">
  <% @recent_views.each do |recent| %>
    <div class="col-sm-3">
      <figure>
        <%= link_to image_tag(recent.product.picture_path, class: "img-thumbnail img-responsive"), product_path(recent.product) %>
        <figcaption><%= recent.product.name %></figcaption>
      </figure>
    </div>
  <% end %>
</div>
<h3><%= t("recent_order") %></h3>
<div class="row" style="padding: 24px 0">
  <% @recent_orders.each do |product| %>
    <div class="col-sm-3">
      <figure>
        <%= link_to image_tag(product.picture_path, class: "img-thumbnail img-responsive"), product_path(product) %>
        <figcaption><%= product.name %></figcaption>
      </figure>
    </div>
  <% end %>
</div>

<div class="row" style="padding: 24px 0">
  <div class="col-sm-12">
    <p>
    <%= link_to ("<span class='fa fa-list'></span> "+t("order_history") + " <span class='badge' id='orders'>-</span>").html_safe, orders_history_path, class: "btn btn-default" %>
    <% if current_user.parent %>
      <%= link_to "<span class='fa fa-slack'></span> ".html_safe+"ご意見・ご要望", "https://360cw.slack.com/messages/CD34HGR6D/", class: "btn btn-default", target: "_blank" %>
      <%= link_to "<span class='fa fa-paper-plane'></span> ".html_safe+"お問い合わせ", messages_path, class: "btn btn-default" %>
      <small> あなたのディストリビュータは <%= current_user.parent.name %> さんです。</small>
    <% else %>
      <small> 管理ユーザとしてログイン中です。</small>
    <% end %>
    </p>
    <p>「こんな商品も扱って欲しい」「こんな使い方がしたい」等のご意見、ご要望を気軽にお寄せください。
      上記「ご意見・ご要望」リンクはSlackのチャネルになっており、別途アカウント登録が必要です。
      アカウントのない方は、「お問い合わせ」から管理者あてにメッセージを送信することが可能です。
    </p>
  </div>
</div>
<script type="text/javascript">
  $("#orders").load("dashboard-count?key=orders");
</script>
<% if current_user.distributor? %>
  <h3><%= t("for_distributor") %></h3>
  <div class="row" style="padding: 24px 0">
    <div class="col-sm-12">
      <%= link_to ("<span class='fa fa-shopping-cart'></span> "+t("orders_of_children") + " <span class='badge' id='orders_of_children'>-</span>").html_safe, orders_of_children_path(status: 'ordered'), class: "btn btn-default" %>
      <%= link_to ("<span class='fa fa-truck'></span> "+t("shipping_of_children") + " <span class='badge' id='shipping_of_children'>-</span>").html_safe, orders_of_children_path(status: 'shipping'), class: "btn btn-default" %>
      <%= link_to ("<span class='fa fa-list'></span> "+t("history_of_children")).html_safe, orders_history_path(children: 'true'), class: "btn btn-default" %>
      <%= link_to ("<span class='fa fa-users'></span> "+t("children") + " <span class='badge' id='number_of_children'>-</span>").html_safe, pages_users_path, class: "btn btn-default" %>
    </div>
  </div>
  <script>
    $("#orders_of_children").load("dashboard-count?key=orders_of_children");
    $("#shipping_of_children").load("dashboard-count?key=shipping_of_children");
    $("#number_of_children").load("dashboard-count?key=number_of_children");
  </script>
<% end %>
<% if current_user.admin? %>
  <div class="row">
    <div class="col-xs-12 admin">
        <%= link_to ("<span class='fa fa-users'></span> "+t("Users")).html_safe, pages_users_path(all: true), class: "btn btn-default" %>
        <%= link_to ("<span class='fa fa-gift'></span> "+t("Products")).html_safe, products_path(search: ""), class: "btn btn-default" %>
        <%= link_to ("<span class='fa fa-tag'></span> "+t("Tags")).html_safe, tags_path(search: ""), class: "btn btn-default" %>
        <%= link_to "<span class='fa fa-github'></span> GitHub".html_safe, "https://github.com/lumbermill/base.lmlab.net", target: "_blank" %>
    </div>
  </div>
<% end %>
