<h1><%= @all ? t("Users") : t("Fronts") %></h1>
<table class="table">
  <tr>
    <th><%= t("User Name") %></th>
    <th><%= t("Email") %></th>
    <th><%= t("Confirmed") %></th>
    <th><%= t("Distributor") %></th>
    <th><%= t("Last signed in") %></th>
  </tr>
  <% @users.each do |u| %>
  <tr>
    <% if u.id == current_user.id %>
      <td><%= u.name %></td>
    <% else %>
      <td><%= link_to u.name, sign_in_as_path(id: u.id) %></td>
    <% end %>
    <td><%= u.email %></td>
    <td><%= u.confirmed? ? ('<span class="fa fa-check" title="'+u.confirmed_at.to_s+'"></span>').html_safe : "" %></td>
    <td><%= u.distributor? ? ('<span class="fa fa-check" title="'+u.children.count.to_s+'"></span>').html_safe : "" %></td>
    <td><%= u.last_sign_in_at %></td>
  </tr>
  <% end %>
</table>
<ul class="text-muted">
  <li>ユーザ名のリンクをクリックすると、そのユーザとしてログインします。
  ログイン履歴が残りますので、必ず事前に当該ユーザの承諾を得て作業してください。</li>
  <li>フロントが存在するユーザはディストリビュータとして扱われます（あなた宛には発注が計上されなくなります）。</li>
</ul>
